body {
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

* h1 {
    color:black;
    font-weight: bold;
}

.header {
    background-color: rgb(64, 142, 243);
    padding: 20px 0;
    font-weight: bold;
}

.container{
    max-width: 75%;
    margin: 0 auto;
}

main p {
    text-align: justify;
}

.main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-menu li {
    cursor: pointer;
    display: inline-block;
    margin-right:5px;
}

.main-menu a {
    text-decoration: none;
    color: white;
    display:block; 
    padding: 20px 0; 
    width:120px; 
    text-align: center;
}

.main-menu a:hover {
    color:rgb(64, 142, 243);
    background-color: white;
    transition: 0.5s;
}

.avatar {
    height: 350px;
    text-align: center;
    background-image: url(https://i.ebayimg.com/00/s/OTAwWDE2MDA=/z/Rx8AAOSwUxlb5cZr/$_45.JPG);
    background-repeat: no-repeat;
    background-position: center;
}

.avatar img{
    height: 100%;
}

.footer {
    background-color: rgb(64, 142, 243);
    color:white;
    padding: 20px 0;
}
