.form-group {
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.margin {
    margin-top: 5px;
}

.width{
    width:250px;
}

.background {
    background-image: url(https://myslide.ru/documents_7/f4a7a2a65d87d9168fe71007f60e023a/img0.jpg);
    background-size: cover;
}

.font {
    color: white;
}

.razmer {
   margin-top: 15%;
}

